html { 
    /* root font size is 16px */
    font-size: 16px;
} 

.userWindow { 
    /* userWindow class has a flex layout */ 
    display: flex; 
    /* the class implies a width equal to the half of the viewport width */
    width: 50vw; 
    /* the class implies a hegiht equal to the sevnty percent of the viewport 
    height */ 
    height: 70vh; 
    /* styling of the border of this class elements */
    border-style: double;
    border-width: 5px; 
    border-color: blue; 
    /* the gap between the items */
    gap: 0.2rem;
} 

.projectNamesWindow {
    /* a solid red border of 3px thick*/ 
    border: solid 3px red; 
    /* the window has a 1 unit width in its parent flex container*/ 
    flex: 1; 
    /* margins of the project names window are set */
    margin-left: 0.2rem; 
    margin-top: 0.2rem; 
    margin-bottom: 0.2rem; 
    display: flex;
} 

.projectNamesWindowHeader {
    font-weight: bold;
} 

.todosWindow {
    /* a solid orange border of 3px thick*/ 
    border: solid 3px orange; 
    /* the window has a 2 unit width in its parent flex container*/ 
    flex: 2; 
    /* margins of the todos window are set */
    margin-right: 0.2rem; 
    margin-top: 0.2rem; 
    margin-bottom: 0.2rem;
}